<div class="field">
    <label for="title">Заголовок:</label>
    <input type="text" id="title" name="title">
</div>
<div class="field">
    <label for="executors">Исполнители:</label>
    <input type="text" id="executors" name="executors">
</div>
<div class="field">
    <label for="plan">Плановая трудоёмкость задачи:</label>
    <input type="number" id="plan" name="plan" value="0" step="0.001">
</div>
<div class="field">
    <label for="lead_time">Время выполнения:</label>
    <input type="number" id="lead_time" name="lead_time" value="0" step="0.001">
</div>
<div class="field">
    <label for="descript">Описание:</label>
    <textarea id="descript" name="descript"></textarea>
</div>
<div class="field hidden">
    <label for="descendant">Descendant:</label>
    <input type="number" id="descendant" class="descendant" name="descendant" value="-1">
</div>
<div class="AddLead-messages"></div>
<div class="field">
    <button type="submit" class="button-submit">Отправить</button>
</div>
